$carousel-hover-colour: #a7353a;
$carousel-colour: #b65c61;
$header-colour: #e75b61;
$footer-colour: #f18b99;
$soft-font-colour: #e9b59b;
$font-colour: #fbe9a9;
$highlight-font-colour: #f8da87;
$body-colour: #82997f;
$card-colour: #698366;
$card-hover-colour: #587255;
$button-colour: #3c5239;
$button-hover-colour: #293422;
$button-click-colour: #161613;
